---
import Wrapper from "../layouts/Wrapper.astro";
---

<Wrapper>
  <div class="w-full h-full flex-col flex gap-y-4">
    <div class="h-full w-fit flex flex-col gap-y-2">
      <p class="text-white font-semibold text-2xl">Lior (Dev_Cron)</p>
      <p class="text-gray-400 text-md font-medium">Programmer</p>
    </div>
    <p class="text-white font-bold text-xl border-b-4 border-zinc-700 w-fit">
      Work
    </p>
    <p class="text-gray-400 font-medium text-lg">
      I'm a game developer. I've built communities and lead development teams. I
      contribute to open source libraries. I do programming as a habit. I create
      Roblox games, android and iOS mobile applications. Check out the projects
      tab to see projects I've worked on.
    </p>
    <div class="h-auto w-full flex flex-col gap-y-5">
      <p class="text-white font-bold text-xl border-b-4 border-zinc-700 w-fit">
        On the web
      </p>
      <dl class="max-w-md text-white dark:divide-gray-700">
        <div class="flex flex-col pb-3">
          <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">
            Roblox
          </dt>
          <a
            href="https://www.roblox.com/users/1736230219/profile"
            class="text-lg font-semibold text-white hover:text-blue-500 transition-colors"
            >Dev_Cron</a
          >
        </div>
        <div class="flex flex-col py-3">
          <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">
            Twitter
          </dt>
          <a
            href="https://twitter.com/i/flow/login?redirect_after_login=%2FDev_CronRblx"
            class="text-lg font-semibold text-white hover:text-blue-500 transition-colors">
            @Dev_CronRblx
          </a>
        </div>
        <div class="flex flex-col pt-3">
          <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">
            Github
          </dt>
          <a
            href="https://github.com/DeveloperCron"
            class="text-lg font-semibold text-white hover:text-blue-500 transition-colors"
            >@DeveloperCron</a
          >
        </div>
      </dl>
    </div>
  </div>
</Wrapper>

